<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
  <form fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
      <mat-card>
          <mat-card-title>CSEC 604.02 - Crypto Term Project | WebAuthn Implementation</mat-card-title>
          <mat-card-subtitle>Developed by Rajeev KARUVATH</mat-card-subtitle>
          <mat-card-content>

              <mat-form-field class="full-width">
                  <input [(ngModel)]="username" name="username" matInput placeholder="Username" autocomplete="username" 
                      type="text">
<!-- 
                  <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                      Please enter a valid email address
                  </mat-error>
                  <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                      Email is
                      <strong>required</strong>
                  </mat-error> -->

              </mat-form-field>

              <mat-form-field class="full-width">
                  <input [(ngModel)]="displayName" name="displayName" matInput placeholder="Display Name" type="text"
                      autocomplete="displayname">
                  <!-- <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['email'].hasError('required')">
                      Password is
                      <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>

              <!-- <div class="full-width">
                  <mat-slide-toggle formControlName="rememberMe">Remember my email address</mat-slide-toggle>
              </div> -->

          </mat-card-content>

          <mat-card-actions class="login-actions">
              <button mat-raised-button id="login" color="primary" (click)="startWebAuthnLogin()">Login</button>
              <button mat-button id="register" type="button" color="primary" (click)="startWebauthnRegister()">Register</button>
          </mat-card-actions>

      </mat-card>

      <mat-progress-bar mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
  </form>
</div>